body{
    background-color: whitesmoke;

}

#convert{
    margin-top: 10px;
    background-color: aqua;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

#clear{
    margin-top: 10px;
    background-color: aqua;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

#convert.hover{
    background-color: lemonchiffon;


}

h1{
    margin-top: 10%;
    font-family: sans-serif;
    color: black;
}

input{
    display: block;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
    font-size: 1em;
    color: black;
}

::-webkit-input-placeholder{
    color: grey;



}

::-ms-input-placeholder{
    color: #ccc;
    
}
